.leamo-description {
  background-color: #ff93b0;
  font-family: "coolvetica";
  color: white;
}
.leamo-description h3 {
  text-align: center;
}

h3 {
  padding-top: 80px;
  font-size: 50px;
}

.leamo-wrapper {
  width: 50%;
  margin: 0 auto;
  width: 960px;
  margin-top: 45px;
  margin-bottom: 120px;
  font-size: 24px;
}

.leamo-refreshment {
  background-color: #1c7cb7;
  color: white;
  font-family: "coolvetica";
}

.leamo-refreshment p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
}

.leamo-refreshment h2 {
  opacity: 0.5;
}
