.leamo-description {
  background-color: #ff93b0;
  font-family: "coolvetica";
  color: white;
}
.leamo-description h3 {
  text-align: center;
}

h3 {
  padding-top: 80px;
  font-size: 50px;
}

.leamo-wrapper {
  margin-top: 45px;
  margin-bottom: 120px;
  font-size: 24px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
}

.leamo-refreshment {
  background-color: #1c7cb7;
  color: white;
  font-family: "coolvetica";
  // transform: translate(0, 50%);
}

.leamo-refreshment p {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  padding: 14px 12%;
}

.leamo-refreshment h2 {
  opacity: 0.5;
  padding: 12% 12% 0;
}

.selling-places {
  margin: 14px 12%;
  font-size: 24px;
  font-family: "coolvetica";
  font-weight: 700;
  background-color: white;
  color: #1c7cb7;
  border-radius: 100;
  padding: 15px 25px;
}
